<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals               = "true"
        backupStaticAttributes      = "true"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        strict                      = "true"
        syntaxCheck                 = "true"
        bootstrap                   = "tests/bootstrap.php">

    <testsuites>
        <testsuite name="Pay test tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
